.footer{
    display:flex;
    align-item:center;
    justify-content:center;	
    gap:4rem;	
    background-color:#16161d;
    padding:2.3rem;
    }

    .footer li a{
        color:white;
    }

    .end-footer{
        background-color:#3B3C36;
        padding:10px;	
    }

    .arun{
        margin-top:5rem;
    }

    .footer .nav-item a:hover{
        color:red;
}

.fa-brands:hover{
        color:red;
}

.footer .nav-item a:hover > .fa-brands {
        color:red;
}

.fa-brands{
    font-size:25px;	
    }