
.img-1{
    background-image:url("./img3.jpg");	
}
.img-2{
    background-image:url("./img4.jpg");
}

.image{
height:45vh;
background-repeat:no-repeat;
background-position:center;	
background-size:cover;		
}

#hrStyle{
    width: 550px;
    height: 4px;
    margin-left:30rem;
    color:red;
}

.space-container{
    margin-left:15rem;
    margin-right:15rem;
}

.item1-child-flex{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.item2-child-flex{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.item2-child-image img{
    height:100px;
    width:100px;
    border-radius:50%;
}

.item1-child-image img{
    height:100px;
    width:100px;
    border-radius:50%;
}


.menu-flex{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 15rem; 
   
}
.menu-flex{
    margin-top: 4rem;
}

.colorBg{
    background-color:#F8F8FF;
    
}